body {
    margin: 0;
}

#console_window {
    background-color: rgba(2, 2, 5, 1);
    width: 100%;
    height: 100vh;
    color: #33f8ff;
    text-shadow: 0 0 20px #33f8ff;
    line-break: anywhere;
    overflow: scroll;
    font-size: x-large;
    position: fixed
}

#console_input {
    background-color: transparent;
    border: none;
    color: #33f8ff;
    text-shadow: 0 0 20px #33f8ff;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: x-large;
    font-family: "futura";
    width: 90%;
}

